{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes.addClass('py-4') }}>
    <div class="container bg-white mx-auto px-4 text-black flex flex-nowrap justify-between items-center rounded">
      {{ content }}
      <a href="#" class="border border-black text-black px-4 py-2 rounded">Become A Client</a>
    </div>
    </div>
  </div>
{% endif %}
